.advanteges__title-wrap {
  width: 204px;
  min-height: 139px;
  margin: 0 auto;
}

.advanteges__title {
  font-size: 24px;
  line-height: normal;
  color: $primary-color;
  text-align: center;
  font-weight: 300;
}

.advanteges__item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
}

.advanteges__item-container ul {
  padding: 0;
}

.advanteges__item {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.advanteges__item h3 {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.advanteges__item p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $primary-color;
}

.advanteges__item--block-1 {
  width: 252px;
  margin: 0 auto 40px;
}

.advanteges__item--block-2 {
  width: 254px;
  margin: 0 auto 38px;
}

.advanteges__item--block-3 {
  width: 259px;
  margin: 0 auto 45px;
}

.advantege-picture {
  display: block;
  margin: 0 auto;
}
@media (min-width:$tablet-width) {

  .advanteges__title-wrap {
    position: relative;
    width: 587px;
    padding-top: 59px;
    padding-bottom: 22px;
  }

  .advanteges__title {
    font-size: 40px;
    margin: 0;
  }

  .advanteges_item-wrap {
    @include container (660px, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .advanteges__item {
    margin-left: 332px;
    margin-bottom: 40px;
    width: 306px;
    p {
      text-align: left;
      margin: 21px 0 0;
    }
  }

  .advanteges__item h3 {
    text-align: left;
  }

  .advantege-picture {
    display: none;
  }

  }

  @media (min-width:$desktop-width) {

    .advanteges__title-wrap {
      padding: 0;
      min-width: 733px;
      margin-top: 78px;
      margin-bottom: 75px;
    }

    .advanteges__title {
      font-size: 50px;
      margin: 0;
    }

    .advanteges__item-container {
      background-color: $bg-color;
    }

    .advanteges__item {
      margin-left: 0;
    }

    .advanteges_item-wrap {
      display: flex;
      justify-content: space-around;
      @include container (940px, 0) flex-direction: row;
    }

    .advanteges__item {
      margin: 300px 0 0;
      font-size: 18px;
      line-height: 30px;

      p {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin: 0;
      }
    }

    .advanteges__item h3 {
      text-align: center;
    }

    .advanteges__item--block-1 {
      width: 236px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: "";
        width: 186px;
        height: 328px;
        bottom: 270px;
        left: 28px;
        background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center;
      }
    }

    .advanteges__item--block-2 {
      width: 222px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: "";
        width: 186px;
        height: 328px;
        bottom: 270px;
        left: 28px;
        background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center;
      }
    }

    .advanteges__item--block-3 {
      width: 231px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: "";
        width: 186px;
        height: 328px;
        bottom: 270px;
        left: 28p x;
        background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center;
      }
    }

    .advanteges__item h3 {
      font-size: 30px;
      line-height: 30px;
      color: $black;
      margin-bottom: 30px;
    }
  }
