.download-app::before {
  content: "";
  display: block;
  min-height: 462px;
  background: url(../img/iphone-hand-mobile@1x.png) no-repeat 40% bottom,
              url(../img/bg-back-mobile@1x.jpg) no-repeat center;
}

.download-app__content {
  display: flex;
  flex-direction: column;
  min-height: 271px;
  background-color: $primary-color;
}

.download-app__button {
  display: flex;
  width: 281px;
  min-height: 55px;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 28px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.download-app__stage {
  display: flex;
  list-style: none;
}

.download-app__text {
  display: flex;
  width: 229px;
  color: #ffffff;
  margin-top: 29px;
  margin-left: 45px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
