.page-title {
  display: flex;
  height: 462px;
  background: url(../img/bg-back-mobile@1x.jpg);
}

.page-title__text {
  margin-top: 35px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
}
