.page-header {
  display: flex;
  flex-direction: column;
  background-color: #283645;
}


.page-header__wrap {
  width: 320px;
  height: 69px;
  margin: 0 auto;
}

.page-header__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrap {
    height: 109px;
  }
}



@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }
  .page-header__wrap {
    height: 110px;
  }
}
