.page-title {
  @include  container ($mobile-width, 0);
  display: flex;
  height: 240px;
  width: 320px;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat center;
    background-size: cover, contain;
  }

}

.page-title__text {
  width: 168px;
  font-size: 24px;
  line-height: normal;
  color: $white;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 35px;
}


@media (min-width: $tablet-width) {
  .page-title {
    @include container ($tablet-width, 0)
    height: 440px;
    background: url(../img/bg-back-tablet@1x.jpg) no-repeat center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }

  .page-title__text {
    width: 470px;
    font-size: 50px;
  }

}

@media (min-width: $desktop-width) {
  .page-title {
    @include container ($desktop-width, 0);
    height: 395px;
    background: url(../img/bg-back-desktop@1x.jpg) no-repeat center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }

  .page-title__text {
    width: 739px;
    }

}
