.photo-blog {
  @include container ($mobile-width, 0);
}

.photo-blog__title {
  display: flex;
  margin: 55px auto 55px;
  width: 241px;
  min-height: 74px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $primary-color;
  text-align: center;
}

.photo-blog__post {
  flex-direction: column;
  margin-bottom: 0;
}

.photo-blog__post1-wrap {
  @include container ($mobile-width, 0);
}

.photo-blog__post1 {
  @include container ($mobile-width, 20px);
  background-color: $bg-color;
}

.photo-blog__post-panarama {
  @include container ($mobile-width, 0);
}

.photo-blog__post-panarama {
  position: relative;
}

.photo-blog__post-panarama::before {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Панорама дня";
  width: 140px;
  height: 36px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $white;
  background-color: $pink-color;
}

.photo-blog__picture img {
  width: 100%;
}

.photo-blog__post-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.photo-blog__post-content {
  display: flex;
  min-height: 121px;
  justify-content: space-between;
  flex-direction: column;
  background-color: $bg-color;
  margin-bottom: 20px;
}

.photo-blog__post-author {
  display: flex;
  color: $primary-color;
  margin-left: 17px;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px;
}

.photo-blog__post-content p {
  display: flex;
  margin-left: 17px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-blog__post-likes {
  display: flex;
  position: relative;
  margin-left: 50px;
  margin-bottom: 28px;
  color: $pink-color;
}

.photo-blog__panarama-wrap {
  background-color: $bg-color;
}

.photo-blog__panarama-wrap p {
  margin-left: 17px;
}

.photo-blog__post-author span {
  font-size: 12px;
  text-transform: uppercase;
}
// Планшет
@media (min-width: $tablet-width) {
  .photo-blog {
    @include container ($tablet-width, 0);
  }

  .photo-blog__title {
    width: 436px;
    min-height: 48px;
    font-size: 18px;
    line-height: 30px;
    margin: 100px auto 80px;
  }

  .photo-blog__first {
    margin-bottom: 80px;
  }

  .photo-blog__post-panarama {
    @include container ($tablet-width, 0);
  }

  .photo-blog__post-panarama::before {
    top: 57px;
    right: 20px;
  }

  .photo-blog__post1 {
    @include container ($tablet-width, 20px);
  }

  .photo-blog__post1-wrap {
    @include container ($tablet-width, 0);
  }

  .photo-blog__post-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 620px;
  }

  .photo-blog__post-content {
    min-height: 155px;
  }

  .photo-blog__post {
    display: flex;
    width: 300px;
  }

  .photo-blog__post-likes {
    margin: 0 0 20px 28px;
  }
}

@media (min-width: $desktop-width) {
  .photo-blog {
    @include container ($desktop-width, 0);
  }

  .photo-blog__title {
    width: 568px;
    margin-bottom: 92px;
  }

  .photo-blog__post1 {
    @include container ($desktop-width, 20px);
  }

  .photo-blog__post1-wrap {
    @include container ($desktop-width, 0);
  }

  .photo-blog__post-panarama {
    @include container ($desktop-width, 0);
  }


  .photo-blog__post-panarama::before {
    top: 56px;
    right: 130px;
  }

  .photo-blog__panarama-wrap {
    width: 940px;
  }

  .photo-blog__post-wrap {
    width: 940px;
  }

  .photo-blog__post-content {
    height: 150px;
    display: flex;
    align-content: space-around;
  }
}
